.container
  .row
    h2= I18n.t("ui.login")
  .row
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, required: false, autofocus: true
      = f.input :password, required: false
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      = f.button :submit, I18n.t("ui.login")
  .row
    = render "devise/shared/links"
