doctype html
html
  head
    title= @page_title || I18n.t("nehsaa")
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nehsaa-navigation-bar")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#{ root_path }") NEHSAA
        .collapse.navbar-collapse#nehsaa-navigation-bar
          ul.nav.navbar-nav
            li= link_to I18n.t("ui.about"), about_path
            li= link_to I18n.t("ui.member_management"), members_path
          ul.nav.navbar-nav.navbar-right
            li
              - if user_signed_in?
                = link_to I18n.t("ui.logout"), destroy_user_session_path, method: :delete
              - else
                = link_to I18n.t("ui.login"), new_user_session_path
    .container
      .row
        == breadcrumbs style: :bootstrap
      - if notice
        .row
          .alert.alert-info(role="alert")= notice
      - if alert
        .row
          .alert.alert-danger(role="alert")= alert
    = yield
