= simple_form_for @member do |f|
  = f.input :name
  = f.input :security_id
  = f.input :gender
  = f.input :birthdate, start_year: 1900, end_year: Date.today.year
  = f.input :member_type
  = f.input :permanent
  = f.input :email
  = f.input :phone
  = f.input :address
  = f.input :occupation
  = f.input :company
  = f.input :education
  = f.input :facebook
  = f.input :grad_class
  = f.input :grad_department
  = f.input :grad_year
  = f.input :grad_id
  = f.button :submit
