doctype html
html
  head
    title= I18n.t("nehsaa")
    meta(charset="UTF-8")
  body
    table
      thead
        tr
          th= Member.human_attribute_name('name')
          th= Member.human_attribute_name('gender')
          th= Member.human_attribute_name('birthdate')
          th= Member.human_attribute_name('education')
          th= Member.human_attribute_name('occupation')
          th= Member.human_attribute_name('address')
          th= Member.human_attribute_name('phone')
          th= Member.human_attribute_name('comments')
      tbody
        - @members.find_each.select(&:membership?).each do |m|
          tr
            td= m.name
            td= m.gender_tr
            td= I18n.l m.birthdate, format: :long
            td= m.education
            td= m.occupation
            td= m.address
            td= m.phone
            td
